*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 0.9rem;
  color: #202020;
  display: flex;
}

header {
  background: #2e2e2e;
  display: flex;
  justify-content: space-between;
  padding: 7px 25px 7px 20px;
  position: fixed;
  min-width: 100%;
  z-index: 1;
}

.header-icon {
  width: 36px;
  height: 36px;
}

.header-icon:hover {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.title h2 {
  margin-left: 10px;
}

.profile {
  display: flex;
  align-items: center;
}
.profile #add-task-icon {
  margin-right: 4em;
  width: 29px;
  height: 29px;
}
.profile img {
  width: 30px;
  height: 30x;
  object-fit: cover;
  margin-left: 15px;
}
.profile img:hover {
  cursor: pointer;
}

.sidebar {
  position: relative;
  height: 100vh;
  min-width: 290px;
  background: #fafafa;
  padding: 30px 20px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
}
.sidebar p {
  user-select: none;
}

.tasks-timeline {
  margin-bottom: 25px;
  margin-top: 45px;
}

.nav-file {
  display: flex;
  align-items: center;
  padding: 3px 0;
  border-radius: 5px;
}
.nav-file svg {
  width: 33px;
  height: 33px;
  margin-right: 3px;
}
.nav-file p {
  white-space: nowrap;
}
.nav-file .file-amount {
  margin-left: auto;
  text-align: end;
  padding-right: 10px;
  color: #646464;
  font-size: 0.8rem;
}

.nav-file:hover {
  background: #eeeeee;
  cursor: pointer;
}

.projects-nav-section {
  position: relative;
}

.favorites {
  width: 100%;
  padding-left: 5px;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.nav-head p {
  color: #646464;
  font-weight: bold;
}
.nav-head .dropdown-arrow {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  transition: transform 0.3s;
}
.nav-head .dropdown-arrow path {
  fill: #646464;
}

.dropdown-arrow:hover {
  background: #eeeeee;
  cursor: pointer;
}
.dropdown-arrow:hover path {
  fill: #292929;
}

.drop {
  transform: rotate(90deg);
}

.favorites-list {
  width: 100%;
  z-index: -2;
}

.nav-project {
  display: flex;
  align-items: center;
  padding: 3px 0;
  border-radius: 5px;
  padding: 10px 0;
  position: relative;
}
.nav-project .project-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 12px;
  margin-right: 12px;
  pointer-events: none;
}
.nav-project p {
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}
.nav-project .file-amount {
  margin-left: auto;
  text-align: end;
  padding-right: 10px;
  color: #646464;
  font-size: 0.8rem;
}
.nav-project .project-menu-icon {
  display: none;
  margin-left: auto;
  padding: 5px 7px 5px 0;
}
.nav-project .project-menu-icon div {
  width: 3px;
  height: 3px;
  background: #646464;
  border-radius: 50%;
  margin-left: 3px;
  pointer-events: none;
}

.nav-project:hover {
  background: #eeeeee;
  cursor: pointer;
}

.nav-project:hover > .file-amount {
  display: none !important;
}

.nav-project:hover > .project-menu-icon {
  display: flex !important;
}

.project-menu-icon:hover div {
  background: #292929;
}

.projects {
  padding: 20px 0 60px 5px;
  width: 100%;
  background: #fafafa;
  position: absolute;
  top: 30px;
  transition: top 0.3s;
  overflow: hidden;
}

.projects .nav-head .add-icon {
  fill: #646464;
  width: 27px;
  height: 27px;
  margin-left: auto;
  border-radius: 5px;
}

.add-icon:hover {
  fill: #292929 !important;
  background: #eeeeee;
  cursor: pointer;
}

.hide-projects {
  width: 100%;
  background: #fafafa;
  position: absolute;
  left: 0;
  top: 50px;
  transition: top 0.3s;
}

#project-delete-modal, #add-project-modal, .menu-modal {
  border: none;
  outline: none;
  border-radius: 5px;
  position: absolute;
}

.menu-modal {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  transform: translate(-45%, 20px);
}

.menu-modal::backdrop {
  background-color: rgba(0, 0, 0, 0);
}

.project-menu {
  width: 270px;
  padding: 7px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2039215686);
}
.project-menu li {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: 5px;
  color: #202020;
}
.project-menu li * {
  pointer-events: none;
  user-select: none;
}
.project-menu li:hover {
  background: #eeeeee;
  cursor: pointer;
}
.project-menu svg {
  width: 26px;
  height: 26px;
  margin-right: 7px;
}
.project-menu svg g#SVGRepo_iconCarrier > path {
  stroke: #292929;
}
.project-menu p {
  width: fit-content;
}

main {
  margin-top: 100px;
  margin-inline: auto;
  width: 60%;
}
main #main-project-menu {
  width: 20px;
  height: 20px;
}
main #main-project-menu path {
  fill: var(--ci-primary-color, #646464);
}
main #main-project-menu:hover {
  cursor: pointer;
}
main #main-project-menu:hover path {
  fill: var(--ci-primary-color, #202020);
}
main #main-project-menu * {
  pointer-events: none;
}

.main-head {
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.task {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #dfdada;
  height: 4rem;
  position: relative;
  padding: 0.8rem 10px 0 10px;
}
.task .check-task-btn {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid red;
  margin-right: 10px;
}
.task .task-name {
  color: #202020;
  pointer-events: none;
}
.task .task-menu {
  width: 25px;
  height: 25px;
  margin-left: auto;
  display: none;
}
.task .due-date {
  display: flex;
  align-items: center;
  position: absolute;
  left: 35px;
  bottom: 10px;
  pointer-events: none;
}
.task .due-date svg {
  width: 16px;
  height: 16px;
}
.task .due-date svg path {
  stroke: #202020;
}
.task .due-date p {
  color: #646464;
  font-size: 0.8rem;
}
.task .overdue svg path {
  stroke: #da2e2e;
}
.task .overdue p {
  color: #da2e2e;
}
.task:hover {
  cursor: pointer;
  background: #fafafa;
  border-radius: 10px;
}
.task:hover > .task-menu {
  display: inline;
}

.form-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#add-project-modal {
  width: 80%;
  max-width: 450px;
  overflow: visible;
  border-radius: 10px;
}
#add-project-modal .add-project-form {
  background: #ffffff;
  color: #202020;
  padding: 20px;
  border-radius: 10px;
}
#add-project-modal .add-project-form .form-title {
  font-size: 1.3rem;
  font-weight: bold;
}
#add-project-modal .add-project-form .form-row {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
}

.form-row {
  position: relative;
}
.form-row label {
  font-weight: bold;
  margin-bottom: 10px;
}
.form-row input {
  padding: 7px 5px;
  color: #202020;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2274509804);
  transition: border 0.3s;
}
.form-row input:focus {
  border: 1px solid #646464;
  outline: none;
}
.form-row input:valid {
  border: 1px solid #009600;
}
.form-row button {
  padding: 9px 12px;
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2274509804);
  border-radius: 5px;
  color: #202020;
}
.form-row button #current-color {
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background: #6accbc;
  margin-right: 10px;
}
.form-row button p {
  line-height: 1;
}
.form-row button:focus {
  border: 1px solid #646464;
}
.form-row button:hover {
  cursor: pointer;
}

label[for=form-project-color] {
  width: fit-content;
}

.color-list {
  background: #ffffff;
  height: 200px;
  overflow-y: scroll;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;
  display: none;
}
.color-list ul li {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 12px;
}
.color-list ul li > div {
  margin-right: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.color-list ul li > p {
  white-space: nowrap;
  font-size: 0.8rem;
  color: #202020;
}
.color-list ul li * {
  user-select: none;
  pointer-events: none;
}
.color-list ul li[data-color-hex="#B8256F"] > div {
  background: #b8256f;
}
.color-list ul li[data-color-hex="#DB4035"] > div {
  background: #db4035;
}
.color-list ul li[data-color-hex="#FF9933"] > div {
  background: #ff9933;
}
.color-list ul li[data-color-hex="#FAD000"] > div {
  background: #fad000;
}
.color-list ul li[data-color-hex="#AFB83B"] > div {
  background: #afb83b;
}
.color-list ul li[data-color-hex="#7ECC49"] > div {
  background: #7ecc49;
}
.color-list ul li[data-color-hex="#299438"] > div {
  background: #299438;
}
.color-list ul li[data-color-hex="#6ACCBC"] > div {
  background: #6accbc;
}
.color-list ul li[data-color-hex="#158FAD"] > div {
  background: #158fad;
}
.color-list ul li[data-color-hex="#14AAF5"] > div {
  background: #14aaf5;
}
.color-list ul li[data-color-hex="#96C3EB"] > div {
  background: #96c3eb;
}
.color-list ul li[data-color-hex="#4073FF"] > div {
  background: #4073ff;
}
.color-list ul li[data-color-hex="#884DFF"] > div {
  background: #884dff;
}
.color-list ul li[data-color-hex="#AF38EB"] > div {
  background: #af38eb;
}
.color-list ul li[data-color-hex="#EB96EB"] > div {
  background: #eb96eb;
}
.color-list ul li[data-color-hex="#808080"] > div {
  background: #808080;
}
.color-list ul li[data-color-hex="#B8B8B8"] > div {
  background: #b8b8b8;
}
.color-list ul li[data-color-hex="#CCAC93"] > div {
  background: #ccac93;
}
.color-list ul li:hover {
  background: #eeeeee;
  cursor: pointer;
}

input#favorites-checkbox {
  display: none;
}

#switch {
  width: 36px;
  height: 18px;
  background: grey;
  border-radius: 50px;
  position: relative;
}
#switch:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 3px;
  top: 3px;
  background: #ffffff;
  border-radius: 12px;
  transition: 0.3s;
}

#favorites-checkbox:checked + label #switch:after {
  left: 21px;
}

#favorites-checkbox:checked + label #switch {
  background: #ccac93;
}

#favorites-checkbox:active + label #switch:after {
  width: 18px;
}

label[for=favorites-checkbox]:hover {
  cursor: pointer;
}

label[for=favorites-checkbox] {
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 100;
}

#switch {
  margin-right: 1.5rem;
}

.line-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1294117647);
  width: 100%;
  height: 1px;
  margin-top: 20px;
}

#project-select-add,
#cancel-add-task,
#cancel-task, #cancel-delete,
#confirm-delete, #save-project,
#cancel-project,
#add-project {
  width: 4rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  font-weight: bold;
}

#cancel-add-task, #cancel-delete, #cancel-project {
  background: #fafafa;
  color: #202020;
  border: 1px solid #dfdada !important;
}
#cancel-add-task *, #cancel-delete *, #cancel-project * {
  pointer-events: none;
}

#cancel-add-task:hover, #project-select-add:hover, #cancel-delete:hover, #cancel-project:hover {
  background: #eeeeee;
  color: #202020;
}

#add-task, #confirm-delete, #save-project, #add-project {
  color: #ffffff;
  background: #2e2e2e;
}
#add-task *, #confirm-delete *, #save-project *, #add-project * {
  pointer-events: none;
}

#add-project {
  opacity: 0.5;
}

#add-project,
#save-project:hover {
  cursor: pointer;
}

#form-btn {
  display: flex !important;
  justify-content: right !important;
  flex-direction: row !important;
  width: 100%;
}

#project-delete-modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 450px;
  border-radius: 10px;
}

.project-delete-form {
  background: #ffffff;
  color: #202020;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-delete-form .form-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2e2e2e;
  padding: 10px 20px;
  width: 100%;
}
.project-delete-form .form-head h3 {
  color: #fff;
  font-size: 1.1rem;
}
.project-delete-form .form-head svg {
  width: 35px;
  height: 35px;
}
.project-delete-form .form-head svg g#SVGRepo_iconCarrier > path {
  stroke: #fff;
}
.project-delete-form img {
  width: 50%;
  height: auto;
  margin-top: 2rem;
  border-radius: 10px;
  object-fit: cover;
}
.project-delete-form p {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 2rem;
  font-size: 1rem;
}
.project-delete-form p span {
  font-weight: bold;
}
.project-delete-form #form-btn {
  margin: 20px;
  padding-right: 20px;
}

#cancel-delete,
#confirm-delete {
  outline: none;
}

#cancel-delete {
  border: 1px solid rgba(0, 0, 0, 0.3568627451);
  border-radius: 5px;
}

#confirm-delete {
  border-radius: 5px;
  border: none;
}

#cancel-delete,
#confirm-delete {
  cursor: pointer;
}

.add-task-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 570px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #ffffff;
  overflow: visible;
}
.add-task-modal input {
  width: 100%;
  outline: none;
  font-family: "Helvetica", sans-serif;
  border: none;
}
.add-task-modal .form-task-name {
  font-size: 1.3rem;
}
.add-task-modal .form-task-description {
  margin-top: 7px;
  font-size: 0.8rem;
}
.add-task-modal .line-row {
  margin-bottom: 1.5rem;
}

.schedule-btn {
  display: flex;
  margin-top: 1.5rem;
  user-select: none;
}
.schedule-btn .form-task-date, .schedule-btn .form-task-priority {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 2px;
  padding-right: 5px;
  outline: none;
  border: 1px solid #dfdada;
  background: none;
  border-radius: 5px;
}
.schedule-btn .form-task-date > *:not(#priority-list), .schedule-btn .form-task-priority > *:not(#priority-list) {
  pointer-events: none;
}
.schedule-btn .form-task-date::placeholder, .schedule-btn .form-task-priority::placeholder {
  color: #646464;
}
.schedule-btn #task-date-add {
  outline: none;
  width: 8rem;
}
.schedule-btn #task-date-add:hover {
  cursor: pointer;
}
.schedule-btn svg {
  width: 22px;
  height: 22px;
}
.schedule-btn svg path {
  stroke: #646464;
}
.schedule-btn p {
  font-size: 0.8rem;
  white-space: nowrap;
  color: #646464;
}
.schedule-btn .form-task-priority {
  padding: 0 5px;
}
.schedule-btn .form-task-priority svg {
  margin-right: 5px;
  display: none;
}
.schedule-btn .form-task-priority svg[data-priority-svg=hourglass] {
  transform: scale(0.8);
  display: inline;
}

.schedule-btn > button:hover {
  cursor: pointer;
  background: #eeeeee;
}

.schedule-btn > button:hover p {
  color: #292929;
}

.schedule-btn > button:hover svg path {
  stroke: #292929;
}

#project-select-add,
#cancel-add-task,
#cancel-task {
  border-radius: 5px;
  border: none;
}

#project-select-add {
  color: #646464;
  height: 2rem;
  margin-right: auto;
  margin-left: 0;
  justify-content: space-evenly;
  background: #ffffff;
  padding: 0 10px;
  width: fit-content;
  position: relative;
}
#project-select-add #project-select-add-color {
  width: 7px;
  height: 7px;
  background: red;
  border-radius: 50%;
  margin-right: 9px;
}
#project-select-add svg {
  width: 20px;
  height: 20px;
  fill: #646464;
  margin-left: 6px;
  margin-right: 8px;
}
#project-select-add > *:not(.choose-project-list) {
  pointer-events: none;
}

#project-select-add:hover > svg {
  fill: #292929;
}

#add-task {
  width: 5rem;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  height: 1.8rem;
}

#add-task[data-invalid=false] {
  opacity: 100%;
}

#add-task[data-invalid=true] {
  opacity: 50%;
}

#project-select-add,
#cancel-add-task,
#add-task:hover {
  cursor: pointer;
}

.choose-project-list {
  border: 1px solid #dfdada;
  border-radius: 5px;
  width: 275px;
  overflow-y: scroll;
  position: absolute;
  background: #ffffff;
  font-weight: lighter;
}
.choose-project-list #check-project-icon {
  width: 19px;
  height: 19px;
  margin-left: auto;
  margin-right: 12px;
}
.choose-project-list #check-project-icon path#Vector {
  stroke: #202020;
}
.choose-project-list::backdrop {
  background: rgba(0, 0, 0, 0);
}

.project-option {
  padding: 9px 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  user-select: none;
}
.project-option * {
  pointer-events: none;
}
.project-option:first-child {
  padding: 6px 0;
}
.project-option #inbox-svg {
  width: 23px;
  height: 23px;
  margin: 0 6px;
}
.project-option .project-option-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  margin: 0 12px;
}
.project-option .project-option-name {
  color: #202020;
  font-size: 0.8rem;
}
.project-option:hover {
  cursor: pointer;
  background: #eeeeee;
}

#priority-list {
  width: fit-content;
  background: #ffffff;
  overflow-y: scroll;
  border-radius: 5px;
  position: absolute;
  border: none;
}
#priority-list::backdrop {
  background: rgba(0, 0, 0, 0);
}
#priority-list ul {
  list-style: none;
}
#priority-list li {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-right: 20px;
}
#priority-list li:hover {
  background: #eeeeee;
  cursor: pointer;
}
#priority-list li * {
  pointer-events: none;
}
#priority-list svg {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  transform: none;
}
#priority-list p {
  font-size: 0.8rem;
  color: #202020;
}/*# sourceMappingURL=style.css.map */