$header-background: #2E2E2E;

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica';
}

header {
    background: $header-background;
    display: flex;
    justify-content: space-between;
    padding: 7px 25px 7px 20px;
}

.header-icon {
    width: 36px;
    height: 36px;
}

.header-icon:hover {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

.title {
    h2 {
        margin-left: 10px;
    }

    display: flex;
    align-items: center;
    color: #ffffff;
}

.profile {
    img {
        width: 30px;
        height:30x;
        object-fit: cover;
        margin-left: 15px;
    }

    img:hover {
        cursor: pointer;
    }

    display: flex;
    align-items: center;
}