$font-stack: 'Helvetica', sans-serif;
$header-bg: #2E2E2E;
$nav-bg: #FAFAFA;
$main-bg: #FFFFFF;

$font-primary: #202020;
$font-secondary: #707070;
// $font-primary: #ffffff;
// #font-secondary: #ffffff;

$hover-bg-color: #EEEEEE;
// $hover-bg-color: #363636;

$hover-icon-color: #494949;

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-stack;
    font-size: 0.9rem;
    color: $font-primary;
}

header {
    background: $header-bg;
    display: flex;
    justify-content: space-between;
    padding: 7px 25px 7px 20px;
}

.header-icon {
    width: 36px;
    height: 36px;
}

.header-icon:hover {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

.title {
    h2 {
        margin-left: 10px;
    }

    display: flex;
    align-items: center;
    color: #ffffff;
}

.profile {
    img {
        width: 30px;
        height:30x;
        object-fit: cover;
        margin-left: 15px;
    }

    img:hover {
        cursor: pointer;
    }

    display: flex;
    align-items: center;
}

.sidebar {
    ul {
        display: flex;
        flex-direction: column;
    }

    p {
        user-select: none;
    }

    position: relative;
    height: 100vh;
    width: 300px;
    background: $nav-bg;
    padding: 30px 20px;
}

.tasks-timeline {
    margin-bottom: 25px;
}

.nav-file {
    svg {
        width: 33px;
        height: 33px;
        margin-right: 3px;
    }

    p {
        white-space: nowrap;
    }

    .file-amount {
        margin-left: auto;
        text-align: end;
        padding-right: 10px;
        color: $font-secondary;
        font-size: 0.8rem;
    }

    display: flex;
    align-items: center;
    padding: 3px 0;
    border-radius: 5px;
}

.nav-file:hover {
    background: $hover-bg-color;
    cursor: pointer;
}

.nav-head {
    p {
        color: $font-secondary;
        font-weight: bold;
        padding-left: 5px;
    }

    .dropdown-arrow {
        path {
            fill: $font-secondary;
        }

        width: 30px;
        height: 30px;
        border-radius: 5px;
        padding: 5px;
        transition: transform 0.3s;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-arrow:hover {
    background: $hover-bg-color;
    cursor: pointer;

    path {
        fill: $hover-icon-color;
    }
}

.drop {
    transform: rotate(90deg);
}

button {
    width: 100px;
    height: 100px;
    background-color: orange;
}